form {


    input[type="text"] {
        width: 100%;
        padding: 0px;
        border-radius: 4px;
        border: solid 1px #bd9c9c;

    }

    label[type="text"] {
        font-size: 16px;

    }

    div{
        margin: 16px 0;
    }

    button {
        border: none;
        background-color: #f5696c;
        color: #000000;
        padding: 8px 24px;
        margin-left: 8px;
        border-radius: 4px;

    }

    button:hover{
        background-color: #db9293;
    }

 

}


