header {
    background-image: url('../../../../assets/img/teste.jpg');
    background-size: cover;
    padding: 40px 0px;
    color: aliceblue;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .usuario-informacoes {
        display: flex;
        justify-content: end;
        align-items: center;

        div {
            margin-left: 16px;
        }

        img {
            width: 70px;
            border-radius: 50%;
        }
    }
}